################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pinewood.DMS.API/obj
/.vs
/packages
/Pinewood.DMS.UI/Bin
